To determine whether there are neurons that have not been identified as clock neurons in the hemibrain dataset but that are nonetheless central players in the clock network, we focused on the strongest shared targets of the M and E cells.

# Strongest shared M cell targets

Strong connections made by all of the M cells were retrieved. 

There were 6 neurons that received strong synaptic connections from all 4 M cells.

In [1]:
from neuprint import Client
c = Client('neuprint.janelia.org', dataset='hemibrain:v1.2.1', token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImRiaW5na29AZ21haWwuY29tIiwibGV2ZWwiOiJub2F1dGgiLCJpbWFnZS11cmwiOiJodHRwczovL2xoMy5nb29nbGV1c2VyY29udGVudC5jb20vYS0vQU9oMTRHajF0YVhzbmtrdG5MZXNscWZfRE5nWGRENGhNdURIRHdqcEFpS09jNW89czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE4MjQzNTkxOTJ9.qZWAQr-5sDJPVmg6qJUeJHsGwaj7yjSmOdpObPJnGCM')

In [2]:
import neuron_criteria

clock_df = neuron_criteria.getClock(l_lnv = True)
bodyIds_by_type = neuron_criteria.bodyIds_by_type(clock_df)
MIds = bodyIds_by_type['s-LNv']

In [3]:
import strongest_targets

sLNv_targs = strongest_targets.get_strong_shared_targs(MIds, 4)
sLNv_targs

candidate_IDs = sLNv_targs['bodyId_post']
candidate_IDs

C:\Users\dbing\Documents\Research\Code\clock-connectome\strongest_targets.py:13: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  test = test.groupby(['bodyId_post'], as_index=False)['weight','shared'].sum()

3     355453590
9    5813047586
1     325122525
2     325455002
0     294783216
5     540998882
Name: bodyId_post, dtype: int64

Retrieve connectivity for clock and candidates

In [4]:
import connection_utils
import pandas as pd

clock_targets = connection_utils.clock_neuron_connections(clock_df, 'out', min_weight=3)
candidate_targets = strongest_targets.get_input_output_conns(candidate_IDs, 3, 'out')

In [5]:
clock_targets

      bodyId_pre  bodyId_post  weight instance_pre instance_post
0      264083994    299272434       4        DN1a1        SLP443
1      264083994    325814461      10        DN1a1       LHPV4c3
2      264083994    326119769       4        DN1a1        SLP457
3      264083994    356472645       3        DN1a1        SLP364
4      264083994    356503889       7        DN1a1     LHPV6f4_b
...          ...          ...     ...          ...           ...
2391  5813071319   5813067725       4       DN1pB2        SLP202
2392  5813071319   5813069648      11       DN1pB2          LNd6
2393  5813071319   5813071288       3       DN1pB2        SMP297
2394  5813071319   5813087531      15       DN1pB2        SMP223
2395  5813071319   5901193482       3       DN1pB2        SLP416

[2396 rows x 5 columns]

In [6]:
candidate_targets

     bodyId_pre instance_pre  bodyId_post instance_post  weight
3    5813047586     SLP316_R    420221276      SLP374_R      50
10   5813047586     SLP316_R    294437347      SLP001_R      32
17   5813047586     SLP316_R    294760699      SLP373_R      24
21   5813047586     SLP316_R   5813055748      SLP297_R      22
28   5813047586     SLP316_R    325529237       DN1pA_R      20
..          ...          ...          ...           ...     ...
215   325122525     SLP316_R   5813046962      SLP296_R       3
216   325122525     SLP316_R   5813057148      SLP387_R       3
113   294783216     SLP403_R    387166379       DN1pA_R       6
191   294783216     SLP403_R    324846570       DN1pA_R       3
192   294783216     SLP403_R    325529237       DN1pA_R       3

[252 rows x 5 columns]

In [7]:
conn_df = pd.concat([clock_targets, candidate_targets])

     bodyId_pre  bodyId_post  weight instance_pre instance_post
0     264083994    299272434       4        DN1a1        SLP443
1     264083994    325814461      10        DN1a1       LHPV4c3
2     264083994    326119769       4        DN1a1        SLP457
3     264083994    356472645       3        DN1a1        SLP364
4     264083994    356503889       7        DN1a1     LHPV6f4_b
..          ...          ...     ...          ...           ...
215   325122525   5813046962       3     SLP316_R      SLP296_R
216   325122525   5813057148       3     SLP316_R      SLP387_R
113   294783216    387166379       6     SLP403_R       DN1pA_R
191   294783216    324846570       3     SLP403_R       DN1pA_R
192   294783216    325529237       3     SLP403_R       DN1pA_R

[2648 rows x 5 columns]

To determine whether these 6 neurons had similar patterns of connectivity to any of the other identified clock neurons, jaccard indices were computed between the 6 candidates and the identified clock neurons.

In [ ]:
import visualization_utils

visualization_utils.jaccard_vis(conn_df, clock_df, clock_df['bodyId'], otherBodyIds = candidateIds)

# Strongest shared E cells targets

(this is a mess and I have to see if Maria has updated this part of the paper)
Strong inputs/outputs that are shared by any 2 E cells were retrieved.

In [4]:
EIds = clock_df[clock_df['phase']=='evening']['bodyId']

In [5]:
Evening_targs = strongest_targets.get_strong_shared_targs(EIds, 2)
Evening_targs

candidate_IDs = Evening_targs['bodyId_post']
candidate_IDs

C:\Users\dbing\Documents\Research\Code\clock-connectome\strongest_targets.py:13: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  test = test.groupby(['bodyId_post'], as_index=False)['weight','shared'].sum()

56      390331583
37      329732855
169    5813021666
25      327588446
7       297243542
          ...
166    5813020696
50      360677632
6       297230760
157    5812981517
90      512787296
Name: bodyId_post, Length: 80, dtype: int64

In [37]:
conn_df

      bodyId_pre  bodyId_post  weight instance_pre instance_post
0      264083994    299272434       4        DN1a1        SLP443
1      264083994    325814461      10        DN1a1       LHPV4c3
2      264083994    326119769       4        DN1a1        SLP457
3      264083994    356472645       3        DN1a1        SLP364
4      264083994    356503889       7        DN1a1     LHPV6f4_b
...          ...          ...     ...          ...           ...
2391  5813071319   5813067725       4       DN1pB2        SLP202
2392  5813071319   5813069648      11       DN1pB2          LNd6
2393  5813071319   5813071288       3       DN1pB2        SMP297
2394  5813071319   5813087531      15       DN1pB2        SMP223
2395  5813071319   5901193482       3       DN1pB2        SLP416

[2396 rows x 5 columns]